<script type="text/x-handlebars" data-template-name="location-list">
{{#if length}}
<section id="main">

<ul id="location-list">
{{#each}}
<li>
<label {{action "moreInfo" on="doubleClick"}}>{{name}}</label>
<button {{action "toggleFavorite"}} class="toggle"><span class="glyphicon glyphicon-heart"></span></button>
<div class="location-heat" style="background: {{heatcolor}}"></div>
</li>
{{/each}}
</ul>
</section>
{{/if}}
</script>
<script type="text/x-handlebars" data-template-name="locations">
<section id="headcountapp">
<header id="header">
<h1>CrowdSenz</h1>

</header>
{{outlet}}
{{#if length}}
<footer id="footer">
<span id="location-count"><strong>{{remaining.length}}</strong> {{pluralize 'item' remaining.length}} left</span>
<ul id="filters">
<li>
{{#link-to "locations.index" activeClass="selected"}}All{{/link-to}}
</li>
<li>
{{#link-to "locations.favorite" activeClass="selected"}}<span class="glyphicon glyphicon-heart"></span>Favorite{{/link-to}}
</li>
<li>
{{#link-to "locations.popular" activeClass="selected"}}<span class="glyphicon glyphicon-star"></span>Popular{{/link-to}}
</li>
<li>
{{#link-to "locations.hottest" activeClass="selected"}}<span class="glyphicon glyphicon-fire"></span>Hottest{{/link-to}}
</li>
<li>
{{#link-to "headcount.coolest" activeClass="selected"}}Coolest{{/link-to}}
</li>
</ul>

</footer>
{{/if}}
</section>
<footer id="info">

Created by
<a href="https://github.com/dreadstar">Tyrone Thomas</a>,

</p>


</footer>
</script>