<!DOCTYPE html>
<html>
	<head>
	  <title>HeadcountApp</title>
	 <%= javascript_include_tag("application") %>

	 <%= stylesheet_link_tag("application") %>
	 <%= stylesheet_link_tag("custom") %>
	 <%= stylesheet_link_tag("base") %>
	  <%= csrf_meta_tags %>
	</head> 
	<body>
		
	  <%= render 'layouts/header' %>
	  <div class="container">
	    <%= render 'layouts/messages' %>
	    <%= yield %>
	    <%= render 'layouts/footer' %>
	  </div>
	</body>
</html>